/*
    FRONTEND FIXES / SPACING IMPROVEMENTS
*/

body[data-URL^='/my/friends'] .col-lg-3 {
	margin-bottom: 20px;
}

body[data-URL^='/create/'] .mt-2.mt-lg-0.col-lg.d-flex.align-content-between.flex-wrap {
	width: 50%;
}

body[data-URL^='/create/'] .col.d-flex.align-content-between.flex-wrap {
	width: 50%;
}

body[data-URL^='/create'] .me-2:has(.fa-thumbs-up)::after {
    content: '%';
    margin-left: -2.5px;
    margin-bottom: 2px;
    cursor: text;
}

.text-truncate {
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

#servers-tabpane .card {
    margin-bottom: 10px;
}

body[data-URL^='/my/settings/privacy'] .card-body:has([action^="/api/users/"]) .card {
    margin-bottom: 10px;
}

.home-event-container .img-container {
    height: 100% !important;
}

/* ------------------------------------------ */

/*
    INLINE EDITING
*/

body[data-polyplus-inlineEditing='true'] .polyplus-inlineEditing-visible {
	display: block !important;
}
.polyplus-inlineEditing-visible {
	display: none;
}

body[data-polyplus-inlineEditing='true'] .polyplus-inlineEditing-hidden {
	display: none !important;
}
.polyplus-inlineEditing-hidden {
	display: block;
}

/* ------------------------------------------ */

/*
    MODALS
*/

html:has(.polyplus-modal[open]),
body:has(.polyplus-modal[open]) {
	overflow: hidden;
}

.polyplus-modal::backdrop {
	background: rgba(0, 0, 0, 0.73);
}

/* ------------------------------------------ */


/*
	EVENT PLACE CARD HIGHLIGHT ANIMATION
	CSS BY @Dragonism ON POLYTORIA
*/

.event-card {
    background-size: 200% 200% !important;

    -webkit-animation: EventPlace 5s ease infinite;
    -moz-animation: EventPlace 5s ease infinite;
    animation: EventPlace 5s ease infinite;
}

@-webkit-keyframes EventPlace {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@-moz-keyframes EventPlace {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes EventPlace { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

/* - */

/*
    AVATAR SANDBOX
*/

.ribbon-polyplus-custom span {
    background-color: orange !important;
}

.ribbon-polyplus-custom::after, .ribbon-polyplus-custom::before {
    border-color: #c68000 !important;
}

.ribbon-polyplus-unknown span {
    background-color: #000 !important;
}

.ribbon-polyplus-unknown::after, .ribbon-polyplus-unknown::before {
    border-color: #121212 !important;
}

.ribbon-polyplus-retro span {
    background-color: purple !important;
    font-family: 'Courier New', Courier, monospace;
}

.ribbon-polyplus-retro::after, .ribbon-polyplus-retro::before {
    border-color: rgb(104, 0, 104) !important;
}